img.avatar { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 135px;
    border-radius: 50%;
}

.description {
    text-align:center;
}

.subtext {
    color: grey;
}

.newsfeed {
    border: 3px solid black;
}